@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
 box-sizing: border-box;
 background: linear-gradient(#ff473d, #ff7770);
 background-repeat: no-repeat;
 height: 100vh;
 margin: 0;
 padding: 0;
 position: relative;
 overflow-y: hidden;
 overflow-x: hidden;
}

#footer-div {
 display: flex;
 border: 1px solid black;
 position: absolute;
 bottom: 0;
 width: 100%;  
 justify-content: center;
}

.header-container {
  position: sticky;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 72px;
  background-color: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  padding-inline: 5%;
}

.header-nav {
  display: flex;
  padding: 10px;
  align-items: center;
}

.page-title {
  font-size: 38px;
  font-weight: bold;
}

.header-links-container {
  list-style: none;
  display: flex;
  gap: 12px;
  padding-left: 40px;
}

.header-link {
  font-size: 22px;
  padding: 10px
}

.header-link:hover {
  cursor: pointer;
  padding-bottom: 7px;
  border-bottom: 3px solid red;
}
