@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  box-sizing: border-box;
  background: linear-gradient(#ff473d, #ff7770);
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

.active {
  display: block;
}

.none {
  display: none;
}

#footer-div {
  display: flex;
  border: 1px solid black;
  bottom: 0;
  width: 100%;
  justify-content: center;
  margin-top: 12%;
}

.header-container {
  position: sticky;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 72px;
  background-color: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.45) 0 25px 20px -20px;
  padding-inline: 5%;
}

.header-nav {
  display: flex;
  padding: 10px;
  align-items: center;
}

.page-title {
  font-size: 38px;
  font-weight: bold;
}

.header-links-container {
  list-style: none;
  display: flex;
  gap: 12px;
  padding-left: 40px;
}

.header-link {
  font-size: 22px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.link-icon {
  height: 25px;
}

#poke {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#catego {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.header-link:hover {
  cursor: pointer;
  padding-bottom: 7px;
  border-bottom: 3px solid red;
}

@media (width < 768px) {
  .header-container {
    padding: 0;
  }

  .header-links-container {
    padding: 12px;
    gap: 0;
  }

  .header-link {
    font-size: 16px;
  }
}

.pokemon-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 20px;
}

.pokemon-container-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 20px;
}

.pokemonBlock {
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gifcontainer {
  background-repeat: no-repeat;
  background-position: center;
}

.gifcontainer img {
  size: 150px;
}

.pokemonBlock p {
  margin: 5px;
}

.name {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.2rem;
}

#spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
}

.card-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.fire {
  background: radial-gradient(#ff675c 50%, #2a1a1f 33%);
  background-size: 5px 5px;
  border-radius: 50%;
  padding: 10px;
}

.electric {
  background: radial-gradient(#ffea70 50%, #2a1a1f 33%);
  background-size: 5px 5px;
  border-radius: 50%;
  padding: 10px;
}

.normal {
  background: radial-gradient(#b09398 50%, #2a1a1f 33%);
  background-size: 5px 5px;
  border-radius: 50%;
  padding: 10px;
}

.water {
  background: radial-gradient(#0596c7 50%, #2a1a1f 33%);
  background-size: 5px 5px;
  border-radius: 50%;
  padding: 10px;
}

.ice {
  background: radial-gradient(#afeafd 50%, #2a1a1f 33%);
  background-size: 5px 5px;
  border-radius: 50%;
  padding: 10px;
}

.rock {
  background: radial-gradient(#999799 50%, #2a1a1f 33%);
  background-size: 5px 5px;
  border-radius: 50%;
  padding: 10px;
}

.flying {
  background: radial-gradient(#7ae7c7 50%, #2a1a1f 33%);
  background-size: 5px 5px;
  border-radius: 50%;
  padding: 10px;
}

.grass {
  background: radial-gradient(#4a9681 50%, #2a1a1f 33%);
  background-size: 5px 5px;
  border-radius: 50%;
  padding: 10px;
}

.psychic {
  background: radial-gradient(#ffc6d9 50%, #2a1a1f 33%);
  background-size: 5px 5px;
  border-radius: 50%;
  padding: 10px;
}

.ghost {
  background: radial-gradient(#561d25 50%, #2a1a1f 33%);
  background-size: 5px 5px;
  border-radius: 50%;
  padding: 10px;
}

.bug {
  background: radial-gradient(#a2faa3 50%, #2a1a1f 33%);
  background-size: 5px 5px;
  border-radius: 50%;
  padding: 10px;
}

.poison {
  background: radial-gradient(#795663 50%, #2a1a1f 33%);
  background-size: 5px 5px;
  border-radius: 50%;
  padding: 10px;
}

.ground {
  background: radial-gradient(#d2b074 50%, #2a1a1f 33%);
  background-size: 5px 5px;
  border-radius: 50%;
  padding: 10px;
}

.dragon {
  background: radial-gradient(#da627d 50%, #2a1a1f 33%);
  background-size: 5px 5px;
  border-radius: 50%;
  padding: 10px;
}

.steel {
  background: radial-gradient(#1d8a99 50%, #2a1a1f 33%);
  background-size: 5px 5px;
  border-radius: 50%;
  padding: 10px;
}

.fighting {
  background: radial-gradient(#2f2f2f 50%, #2a1a1f 33%);
  background-size: 5px 5px;
  border-radius: 50%;
  padding: 10px;
}

.fairy {
  background: radial-gradient(#c8753e 50%, #2a1a1f 33%);
  background-size: 5px 5px;
  border-radius: 50%;
  padding: 10px;
}

#btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 10%;
  padding-top: 4%;
}

#btns * {
  border: 1px solid black;
  font-weight: 800;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  padding: 1.25em 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
  color: #3466af;
  background: #ffcb05;
}
