body {
 box-sizing: border-box;
 background: linear-gradient(#ff473d, #ff7770);
 background-repeat: no-repeat;
 height: 100vh;
 margin: 0;
 padding: 0;
 position: relative;
 overflow-y: hidden;
 overflow-x: hidden;
}

#footer-div {
 display: flex;
 border: 1px solid black;
 position: absolute;
 bottom: 0;
 width: 100%;  
 justify-content: center;
}